@font-face {
    font-family: "Inconsolata";
    src: url(../fonts/inconsolata.ttf);
}

html {
    width: 100%;
}

body {
    margin: 0;
    width: 100%;
    font-family: "Inconsolata";
    background-color: #002b36;
    font-size: 3vh;
}

a {
    text-decoration: none;
    color: #1cd890;
}

nav {
    position: fixed;
    width: 100%;
    height: 5vh;
    background-color: #333;
}

nav a {
    display: block;
    float: left;

    font-size: 3vh;
    color: #fff;

    padding: 1vh 2vw;

    text-decoration: none;
}

nav a:hover {
    background-color: #111;
}

nav .active {
    background-color: #222;
}

section {
    width: 100%;
}

.hero {
    width: 99vw;
    height: 100vh;
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: #fff;

    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero-2 {
    background-image: url(../images/bg_img.jpg);
}

.hero h1 {
    font-size: 6vh;

    margin-top: 0;
    margin-bottom: 0.5rem;
}

.hero h2 {
    font-size: 5vh;

    margin-top: 0;
    margin-bottom: 0.5rem;
}

.btn {
    display: block;
    width: fit-content;
    width: -moz-fit-content;
    min-width: 200px;

    border: 3px solid #1cd890;
    border-radius: 20px;

    padding: 1rem;
    margin: 0 auto;
    transition: all .2s ease-in-out;
}

.hero .btn {
    display: block;
    border: 3px solid white;

    margin: 6vh auto;

    color: #fff;
    text-decoration: none;
}

.hero-text {
    padding: 5vh 5vw;
    background: rgba(0, 0, 0, 0.7);
}

main {
    min-height: 100vh;
}

.container {
    width: 85%;
    display: block;
    margin: auto;
    text-align: center;
    font-size: 3vh;
}

.typewriter {
    width: 100%;
    padding: 1%;
}

.typewriter h1, .blue {
    color: #268bd2;
}

#animatedText, .green {
    color: #1cd890;
}

.v-space {
    padding: 5vh 0;
}

ul {
    display: inline-block;
}

ul li {
    list-style-type: none;
    float: left;
    margin: 2vw;
    padding: 1vw;
    width: 100vw;
    max-width: 100px;
    background-image: radial-gradient(circle, white, #002b36);
    transition: all .2s ease-in-out;
}

ul li:hover, .btn:hover {
    transform: scale(1.25);
}

.clear {
    clear: both;
}
